.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    flex: 1;
    border-radius: 20px;
    background-color: var(--skyblue);
}

.img-cards {
    max-width: 200px;
}

.title-cards {
    font-family: codeNextBold;
    margin-top: 8px;
    font-size: 15px;
    }

    .text-cards {
        font-family: Domotika;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button-cards {
        padding: 10px;
        border: none;
        color: white;
        background-color: var(--blue);
        box-shadow: 3px 3px 7px var(--blue);
        cursor: pointer;
    }

    @keyframes slideInBottom {
        0% {
        transform: translateY(-150%);
        }

        100% {
            transform: translateY(0);
        }
    }

@media screen and (min-width:1024px) {
    
    .img-cards {
        max-width: 275px;
    }
    
    .title-cards {
    font-size: 27px;
    }
    
    
    .button-cards {
        width: 100px;
    }
}