.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--white);
  }
  
  .article-container-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--skyblue);
  }
  
  .title-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title-article {
    text-transform: uppercase;
    color: var(--blue);
  
  }
  
  
  
  .button-article {
  
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    border: none;
    width: 90%;
    height: 60px;
    font-size: 20px;
    box-shadow: 3px 3px 7px var(--blue);
  
  
  }
  
  
  .show {
    max-width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    }
    
    .hide {
      display: none;
    }
  
    .img-verbal {
      background-image: url("../../assets/slide1.jpg");
    }
    
    .img-non-verbal {
      background-image: url("../../assets/banniere.png");
    }
  
    .img-ecrit {
      background-image: url("../../assets/banniere.png");
    }
    
  
  @media screen and (min-width: 1024px) {
    
    .title-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  
  .title-article {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .img-article {
    max-height: 400px;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .img-fadeIn {
    animation-name: fadeInTitle;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  .title-fadeIn {
    animation-name: fadeInTitle;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  .banniere-article {
  height: 400px;
  padding: 5rem;
  position: relative;
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  
  }
  
  
  
  
  
  .text-article-container {
    overflow: hidden;
    height: 200px;
  }
  
  .text-article {
    text-align: justify;
    font-family: Kern;
  }
  .text-article-test {
    text-align: justify;
    color: white;
    position: relative;
    font-size: 25px;
    top: 200px;
    font-family: Domotika;
  
  }
  
  .text-article-visible {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  .text-article-visible-left {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  
  
  .button-article {
  
    margin-top: 60px;
    transition: background-color 0.3s ease;
    width: 500px;
  }
  
  .button-article:hover {
  animation: jump .8s forwards;
  background-color: white;
  color: black;
  background-image: linear-gradient(to bottom, transparent 0%, white 100%);
  }
  @keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
  }
  
  @keyframes slideBot {
    0% {
      transform: translateY(0%);
    }
  
      100%{
        transform: translateY(100%);
  
      }
  }
  
  .quotes-article-start {
  font-size: 100px;
  font-family: Domotika;
  position: relative;
  color: white;
  top: 74%;
  left: -4%;
  }
  
  .quotes-article-end {
  font-size: 100px;
  font-family: Domotika;
  position: relative;
  color: white;
  top: 16%;
  left: 38%;
  }
  
  .quotes-article-end-verbal {
  font-size: 100px;
  font-family: Domotika;
  position: relative;
  color: white;
  top: 16%;
  left: 76%;
  }
  
  .quotes-article-end-ecrit {
  font-size: 100px;
  font-family: Domotika;
  position: relative;
  color: white;
  top: 16%;
  left: 59%;
  }
  
  
  
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
   
    100% {
      transform: translateX(0);
    }
  }
  
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(150%);
    }
   
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInTitle {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.5;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  }